.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Kerusha.github.io/config/applicationhost.config
.vs/Kerusha.github.io/CopilotIndices/17.13.444.19527/CodeChunks.db
.vs/Kerusha.github.io/CopilotIndices/17.13.444.19527/SemanticSymbols.db
.vs/Kerusha.github.io/FileContentIndex/9f5a934e-092a-48a9-a0c5-13e115c0cc04.vsidx
.vs/Kerusha.github.io/v17/.wsuo
.vs/Kerusha.github.io/v17/DocumentLayout.backup.json
.vs/Kerusha.github.io/v17/DocumentLayout.json
